*,
*::before,
*::after {
  box-sizing: border-box;
}
/*This sets the height to 100% and removes all margin and padding from the HTML, body, and .wrapper elements*/
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}
/*The body font is set to sans-serif with a background color of #f9fbfd*/
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}
/*Styles the behavior of the disable button. It disbles the cursor to the default value so the cursor will not change when it hovers over. The background color is set to #c0c7cf*/
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}
/*This section removes the default appearance of the input on some browsers with the -webkit-appearance, -moz-appearance, and the appearance properties. It also removes the border property and sets the width of the container to 100%. The resize and overflow propertis disable the resizing of the input field and hide any overflow that may occur*/
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}
/*This media query sets the font size of the buttons an dthe password text area to 1rem and also adds margin and padding to the button, this makes sure it still looks good on smaller screens*/
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}
/*This media query applies a font size of 0.8 to the buttons on screens that are 500 pixels wide or less*/
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
